*{
    box-sizing: border-box;
}
.container{
    background-color: rgb(252, 222, 182);
    height: 100vh;
}
.box{
    background-color: aqua;
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: right;
    text-align: center;

    
}