h1{
    text-shadow: 3px 3px 6px rgb(21, 21, 231), -3px -3px 6px rgb(209, 9, 159);
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(229, 223, 223);
    box-shadow: 3px 3px 5px;
}